/*custom propieties*/
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: brown;

}

.titulo span{
    font-size: 2rem;
    color: blue;
}
.Navegación-principal{
    background-color: var(--secundario);
}

.contenedor{
    width: 120rem;
    /*
    margin-top: auto;
    margin-bottom: auto;
    margin-left: ;
    margin-right: ; */
    margin: 0 auto;

}
.nav-bg{
    background-color: var(--secundario) ;
}
.Navegación-principal{
    padding: 1rem;
    display: flex;
    /*  justify-content es para filas  
    align-items items para columnas(flex-direction)*/
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold /* negritas */
}
.Navegación-principal a{
    color: var(--blanco);
    text-decoration: none;
}


.Navegación-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}